fastapi
uvicorn
sse-starlette
pandas
databricks-connect
langchain_databricks
langchain_core
mlflow
xgboost
databricks-vectorsearch
sentence-transformers
scikit-learn
python-dotenv
PyPDF2
pdfminer.six
pypdf
redis
